{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Post To A Category "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
   <label for="search_for_the_category">Choose a category: </label>
    <input name="search_for_the_category" id="search_for_the_category" type="search" list="categories_for_choosing">
    <datalist id="categories_for_choosing">
      {% for category in categories %}
        <option value="{{category['name']}}"></option>
      {% endfor %}
    </datalist>
    <input type="submit" value="Save">
</form>

{% endblock %}